
  <!--Main layout-->
  <main class="mt-5 pt-5">
    <div class="container">
      <!--Section: Content-->
      <section>
        <div class="card text-center">
            <div class="card-header">UK Tax Calculation Demo</div>
            <div class="card-body">
              <h5 class="card-title">Instructions</h5>
              <p class="card-text">
                Please login using the seeded user account
              </p>
              <a routerLink="/login" class="btn btn-primary" routerLinkActive="active" ariaCurrentWhenActive="page" data-mdb-ripple-init>Login</a>
            </div>
          </div>
      </section>
      <!--Section: Content-->
    </div>
  </main>
  <!--Main layout-->